.content {
	@include margin(0 auto);
  @include padding(1em 0);
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5em;
  width: 65%;
  min-height: 30em;

  p {
  	margin-bottom: 1.5em;
  }

	@include media($mobile-screen-down) {
		width: 90%;
  }
}
