footer {
  @include padding(2em 0 3em);
  @include margin(3em 0 0 0);
  background: url("../images/site-bg.jpg") no-repeat 75% 80%;
  text-align: center;
}

.social {
  font-size: 1.5em;
  padding: 0;

  a {
    color: $light-gray;
    padding: 0 0.5em;
    &:hover {
      color: #fff;
    }
  }

  li {
    list-style: none;
    display: inline-block;
  }
}
