footer {
  @include margin(3em 0);
  text-align: center;
}

.social {
  font-size: 1.5em;
  padding: 0;

  a {
    color: #666;
    padding: 0 0.5em;
    &:hover {
      color: darken(#00CFEA, 15%);
    }
  }

  li {
    list-style: none;
    display: inline-block;
  }
}
