

body {
  background-color: #000;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $base-font-color;
}

a {
  color: $action-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0;
}

.wrapper {
  @include outer-container;
}

.image-wrapper {
  @include padding(1em 0 3em);
  @include margin(0 auto);
  width: 75%;

  img {
    width: 100%;
  }

  @include media($mobile-screen-down) {
    width: 100%;
  }
}

.video-wrapper {
  margin: 0 auto;
  width: 75%;
  height: 600px;

  @include media($mobile-screen-down) {
    width: 90%;
    height: 400px;
  }
}
