.press-clippings {
	@include plain-ul;

	li {
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid $dark-gray;

		&:last-child {
			border-bottom: none;
		}
	}
}

.source {
	display: block;
	font-size: 0.875em;
}

.read-more {
	font-size: 0.875em;
	padding-left: 0.5em;
	&:before {
		content: '(';
	}
	&:after {
		content: ')';
	}
}

.title {
	font-weight: 400;
}

.press-header {
	margin-bottom: 0.5em;
}

.press-nav {
	@include margin(0 0 2em 0);
	@include navigation;
	font-size: 1rem;

	li {
  	&.active {
  		a {
  			@include nav-active;
  		}
  	}
	}
}

.hide {
	display: none;
}