.video-thumbs {
	@include plain-ul;

	li {
		@include span-columns(4);
		@include omega(3n);
		margin-bottom: 1em;

		@include media($mobile-screen-down) {
	    width: 100%;
	   	float: none;
  	}
	}
}