@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

$mobile: new-breakpoint(max-width 600px 4);

body {
  background: #000;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

header {
  position: relative;
}

.wrapper {
  @include outer-container;
}

.navigation {
  @include span-columns(4);
  background: green;
}

.content {
  @include span-columns(8);
  background: red;
}

.logo {
  margin: 0 auto;
  width: 17%;
  -webkit-animation-name: logo;
  -webkit-animation-duration: .9s;
  img {
    max-width: 100%;
  }

  @include media($mobile) {
    width: 35%;
  }
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

footer {
  text-align: center;
}

.social {
  font-size: 1.5em;
  padding: 0;

  a {
    color: #666;
    padding: 0 0.5em;
    &:hover {
      color: darken(#00CFEA, 15%);
    }
  }

  li {
    list-style: none;
    display: inline-block;  
  }
}

.video-wrapper {
  margin: 0 auto;
  width: 75%;
  height: 600px;

  @include media($mobile) {
    width: 90%;
    height: 400px;
  }
}
