@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

$mobile: new-breakpoint(max-width 600px 4);

body {
  background: #000;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

header {
  position: relative;
  border-bottom: 2px solid #222;
  margin-bottom: 2em;
}

footer {
  @include margin(3em 0);
  text-align: center;
}

h1 {
  margin: 0;
}

.wrapper {
  @include outer-container;
}

.navigation {
  @include span-columns(4);
  background: green;
}

.content {
  @include span-columns(8);
  background: red;
}

.logo {
  width: 20%;
  img {
    max-width: 100%;
  }

  @include media($mobile) {
    width: 35%;
  }
}

.nav-items {
  font-weight: 700;
  letter-spacing: 1px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
  }
  li {
    @include padding(0 2em);
    display: inline-block;

    &:not(.logo){
      margin-top: 7em;
      vertical-align: top;
      @include media($mobile) {
        display: block;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.desktop-nav {
  @include media($mobile) {
    display: none;
  }
}

.mobile-nav {
  @include media($mobile) {
    display: block;
  }
  display: none;
  .logo {
    margin: 0 auto;
  }
}

.social {
  font-size: 1.5em;
  padding: 0;

  a {
    color: #666;
    padding: 0 0.5em;
    &:hover {
      color: darken(#00CFEA, 15%);
    }
  }

  li {
    list-style: none;
    display: inline-block;
  }
}

.image-wrapper {
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.video-wrapper {
  margin: 0 auto;
  width: 75%;
  height: 600px;

  @include media($mobile) {
    width: 90%;
    height: 400px;
  }
}
