<footer>
  <ul class="social">
    <li>
      <a href="https://www.facebook.com/warntheduke1/">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/warntheduke">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UClJsCpsQfMOEVHz3d56QZ_Q">
        <i class="fa fa-youtube"></i>
      </a>
    </li>
    <li>
      <a href="https://open.spotify.com/artist/14iZbiyQJo32EuWW3PVC1M">
        <i class="fa fa-spotify"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/warntheduke/">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
