<header>
  <div class="wrapper">
    <div class="desktop-nav">
      <ul class="nav-items">
        <li>
          <a href="bio.html">Bio</a>
        </li>
        <li>
          <a href="press.html">Press</a>
        </li>
        <li>
          <a href="shows.html">Shows</a>
        </li>
        <li>
          <a href="videos.html">Videos</a>
        </li>
        <li>
          <a href="listen.html">Listen</a>
        </li>
      </ul>
    </div>
    <div class="mobile-nav">
      <h1 class="logo" title="Warn the Duke">
        <img src="images/wtd-logo.jpg">
      </h1>
      <div class="mobile-nav-launch">Menu</div>
      <ul class="nav-items">
        <li>
        <a href="bio.html">Bio</a>
        </li>
        <li>
          <a href="press.html">Press</a>
        </li>
        <li>
          <a href="shows.html">Shows</a></li>
        <li>
          <a href="videos.html">Videos</a>
        </li>
      </ul>
    </div>
  </div>
</header>
