<header>
  <div class="wrapper">
    <div class="desktop-nav">
      <ul class="nav-items">
        <li class="home-link">
          <a href="index.html">Warn the Duke</a>
        </li>
        <li class="bio-link">
          <a href="bio.html">Bio</a>
        </li>
        <li class="press-link">
          <a href="press.html">Press</a>
        </li>
        <li class="videos-link">
          <a href="videos.html">Videos</a>
        </li>
        <li class="listen-link">
          <a href="listen.html">Listen</a>
        </li>
      </ul>
    </div>
  </div>
</header>
