---
title: Warn The Duke - Listen
---

<%=  partial "header" %>

<div class="wrapper">
  <div class="content">
    <ul class="listen-links">
      <li>
        <a class="title" href="https://warntheduke.bandcamp.com/">
          <i class="fa fa-music"></i>Stream on Bandcamp
        </a>
      </li>
      <li>
        <a class="title" href="https://www.amazon.com/gp/product/B01AD5HKUY">
        <i class="fa fa-amazon"></i>Buy on Amazon</a>
      </li>
      <li>
        <a class="title" href="https://itunes.apple.com/us/album/ghost-be-gone/id1073482698">
        <i class="fa fa-apple"></i>Buy on iTunes</a>
      </li>
      <li>
        <a class="title" href="https://open.spotify.com/artist/14iZbiyQJo32EuWW3PVC1M">
        <i class="fa fa-spotify"></i>Listen on Spotify</a>
      </li>
    </ul>
  </div>
</div>

<%=  partial "footer" %>
