---
title: Warn The Duke - Press
---

<%=  partial "header" %>

<div class="wrapper">
  <div class="copy">
    <div class="press">
    <a href="">Warn The Duke - Ghost Be Gone (Review)</a>
    <span>Thepunksite</span>
		Warn the Duke, the brainchild of former River City Rebel Dan McCool, which also features Derek Davis from Big D and the Kids Table on drums may not attempt to break any new musical thresholds with their debut LP Ghost Be Gone, but with a line-up rounded out with Sara Press on bass and sharing vocal duties and George Miata on guitar, their intensely catchy blend of 90’s emo and 
		<a href="#">Show more...</a>
		<p></p>
		</div>

    <p>Album Review: Warn The Duke – ‘Ghost Be Gone’ – Punkanormal Activity
		Warn The Duke describe the state of decay on their debut record ‘Ghost Be Gone’. The act power through with anger and repent bubbling in their stomachs and heads, sharpening their sound as they move forward. They’ve got the harshness covered too, cramming everything they have into a record that is melodic but will jolt a quiet heart into a frenzy. And that’s not a bad thing, </p>

    <p>
		Warn The Duke: Ghost Be Gone – Punknews
		Warn the Duke have quite the pedigree. River City Rebels frontman Dan McCool leads a group consisting of Big D & the Kids Table and The Shorebirds members. Defeater’s Jay Maas produced their debut album. Supergroup might be too ambitious, but on Ghost Be Gone, it’s clear that everyone involved is a seasoned veteran.</p>

    <p>Album Review - Warn The Duke: Ghost Be Gone – The Daily Slice
		Warn The Duke are a four piece punk band from Brooklyn, New York made of members of River City Rebels and Big D & the Kids Table. Already making some serious waves ahead of the release of their debut album, Ghost Be Gone.

		The most notable thing about Warn the Duke is despite recruiting Big D’s </p>

		<p>LISTENING GAME - 24/08/15 – The Ruckus
		Warn The Duke - 'Coastline'

		The sounds of garage rock and melodic punk collide on 'Coastline', the debut track from Warn The Duke. The Brooklyn, NY band, featuring members of Big D And The Kids Table and River City Rebels, take cues from bands like The </p>

		<p>
		Warn The Duke release music video for “Harry O’Donnell” – Dying Scene
Brooklyn punk group Warn The Duke have just released a new music video for their track “Harry O’Donnell”. The video depicts a semi-functional family, with each character played by a member of the band. Check it out below.

“Harry O’Donnell” comes off the bands upcoming debut LP, “Ghost Be Gone”, </p>
  </div>
</div><!-- wrapper -->

<%=  partial "footer" %>
