---
title: Warn The Duke - Press
---

<%=  partial "header" %>

<div class="wrapper">
  <div class="content">
  	<ul class="press-nav">
  		<li class="active"><a href="#" rel="reviews">Reviews</a></li>
  		<li><a href="#" rel="interviews">Interviews</a></li>
  	</ul>
  	<ul id="reviews" class="press-clippings">
  		<li>
  			<div class="press-header">
	  			<span class="source">Thepunksite</span>
		    	<a class="title" href="http://thepunksite.com/reviews/warn-the-duke-ghost-be-gone/">Warn The Duke - Ghost Be Gone (Review)</a>
	    	</div>
				<div>Warn the Duke, the brainchild of former River City Rebel Dan McCool, also features Derek Davis from Big D and the Kids Table on drums. With a line-up rounded out with Sara Press on bass and sharing vocal duties and George Miata on guitar, their intensely catchy blend of 90’s emo and jangly melodic alt rock has a freshness that sets them apart from their peers today...<a class="read-more" href="http://thepunksite.com/reviews/warn-the-duke-ghost-be-gone/">Read more</a></div>
			</li>
			 <li>
  			<div class="press-header">
	  			<span class="source">Punkanormal Activity</span>
		    	<a class="title" href="http://www.punkanormalactivity.com/2015/09/01/album-review-warn-the-duke-ghost-be-gone/">Album Review: Warn The Duke – ‘Ghost Be Gone’</a>
	    	</div>
				<div>Warn The Duke describe the state of decay on their debut record ‘Ghost Be Gone’. The act power through with anger and repent bubbling in their stomachs and heads, sharpening their sound as they move forward. They’ve got the harshness covered too, cramming everything they have into a record that is melodic but will jolt a quiet heart into a frenzy. And that’s not a bad thing...<a class="read-more" href="http://www.punkanormalactivity.com/2015/09/01/album-review-warn-the-duke-ghost-be-gone/">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">Punknews</span>
		    	<a class="title" href="https://www.punknews.org/review/13968/warn-the-duke-ghost-be-gone">Warn The Duke: Ghost Be Gone</a>
	    	</div>
				<div>Warn the Duke have quite the pedigree. River City Rebels frontman Dan McCool leads a group consisting of Big D &amp; the Kids Table and The Shorebirds members. Defeater’s Jay Maas produced their debut album. Supergroup might be too ambitious, but on Ghost Be Gone, it’s clear that everyone involved is a seasoned veteran...<a class="read-more" href="https://www.punknews.org/review/13968/warn-the-duke-ghost-be-gone">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">The Daily Slice</span>
		    	<a class="title" href="http://dailyslicemag.com/2015/10/08/album-review-warn-the-duke-ghost-be-gone/">Album Review - Warn The Duke: Ghost Be Gone</a>
	    	</div>
				<div>Warn The Duke are a four piece punk band from Brooklyn, New York made of members of River City Rebels and Big D &amp; the Kids Table. Already making some serious waves ahead of the release of their debut album, Ghost Be Gone. The most notable thing about Warn the Duke is despite recruiting Big D’s...<a class="read-more" href="http://dailyslicemag.com/2015/10/08/album-review-warn-the-duke-ghost-be-gone/">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">The Ruckus</span>
		    	<a class="title" href="http://www.whatstheruckus.com/2015/08/listening-game-240815.html">LISTENING GAME - 24/08/15 - Warn The Duke - 'Coastline'</a>
	    	</div>
				<div>The sounds of garage rock and melodic punk collide on 'Coastline', the debut track from Warn The Duke. The Brooklyn, NY band, featuring members of Big D And The Kids Table and River City Rebels, take cues from bands like The Replacements...<a class="read-more" href="http://www.whatstheruckus.com/2015/08/listening-game-240815.html">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">Dying Scene</span>
		    	<a class="title" href="http://dyingscene.com/news/warn-the-duke-release-music-video-for-harry-odonnell/">Warn The Duke release music video for “Harry O’Donnell”</a>
	    	</div>
				<div>Brooklyn punk group Warn The Duke have just released a new music video for their track “Harry O’Donnell”. The video depicts a semi-functional family, with each character played by a member of the band. Check it out below. “Harry O’Donnell” comes off the bands upcoming debut LP, “Ghost Be Gone”...<a class="read-more" href="http://dyingscene.com/news/warn-the-duke-release-music-video-for-harry-odonnell/">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">Dying Scene</span>
		    	<a class="title" href="http://www.blanktv.com/index.php/videos/video-premieres/461">A Blank TV Premiere Presentation: Warn The Duke - "Harry O'Donnell"</a>
	    	</div>
				<div>About The Video: The video for Harry O'Donnell tells the tale of a washed-up, nostalgic dad-rocker who can't seem to get out of his own head and enjoy the fruits of family life. Think Married With Children for the 21st century. The video was filmed in one day (Mother's Day 2015) on a shoestring budget with nothing more than a mysterious bag of wigs found in the basement, a few props lying...<a class="read-more" href="http://www.blanktv.com/index.php/videos/video-premieres/461">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">The Punk Site</span>
		    	<a class="title" href="http://thepunksite.com/news/warn-the-duke-post-video-for-harry-odonnell/">A Warn The Duke Post Video for ‘Harry O’Donnell’</a>
	    	</div>
				<div>Warn The Duke, the Brooklyn based new project of former River City Rebel Dan McCool and also featuring members of Big D And The Kids Table have posted a new video for their track Harry O’Donnell. The song features on their upcoming debut LP, Ghost be Gone, tentatively due for release in October...<a class="read-more" href="http://thepunksite.com/news/warn-the-duke-post-video-for-harry-odonnell/">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">Gigawatts Magazine</span>
		    	<a class="title" href="http://www.gigawattsmedia.com/gigawatts-festival-feature-warn-the-duke/">Gigawatts Festival Feature: Warn the Duke</a>
	    	</div>
				<div>Warn the Duke is the new project of former River City Rebels member, Dan McCool. On a much less “official” note, Dan is also roommates with Jeremy Sampson (drummer for pretty much every band in Brooklyn). I could sit here and write a few hundred words about how Warn the Duke is this “new awesome punk band reminiscent of early Social Distortion and Rancid,” but the real story...<a class="read-more" href="http://www.gigawattsmedia.com/gigawatts-festival-feature-warn-the-duke/">Read more</a></div>
			</li>
			<li>
  			<div class="press-header">
	  			<span class="source">Dying Scene</span>
		    	<a class="title" href="http://dyingscene.com/news/warn-the-duke-ft-members-of-big-d-river-city-rebels-stream-3-new-tracks-off-upcoming-album-ghost-be-gone/">Warn the Duke (ft. members of Big D, River City Rebels) stream 3 new tracks off upcoming album “Ghost Be Gone”</a>
	    	</div>
				<div>Brooklyn punk band Warn the Duke (ft. members of Big D and the Kids Table and River City Rebels) are streaming three tracks off of their upcoming debut album which is set to drop sometime in October. Honestly, I’m a huge fan, but click here to listen for yourself...<a class="read-more" href="http://dyingscene.com/news/warn-the-duke-ft-members-of-big-d-river-city-rebels-stream-3-new-tracks-off-upcoming-album-ghost-be-gone/">Read more</a></div>
			</li>
		</ul>

		 	<ul id="interviews" class="press-clippings hide">
				<li>
	  			<div class="press-header">
		  			<span class="source">Mutiny on the Microphone</span>
			    	<a class="title" href="http://www.mutinyonthemicrophone.com/podcast-sept-2nd-guest-dj-dan-mccool/">Podcast – Sept. 2nd, Guest DJ Dan McCool</a>
		    	</div>
					<div>This week’s guest dj is someone who played a pivotal role in our host’s formative years. In the mid-to-late 90’s, Dan McCool was in a band called the Skullys, and started booking music shows in the Stoughton/Easton/Randolph area. These shows were mainly all-ages, and included a group of people who were very welcoming to all aspects of people (even if they were a number of...<a class="read-more" href="http://www.mutinyonthemicrophone.com/podcast-sept-2nd-guest-dj-dan-mccool/">Read more</a></div>
				</li>
				<li>
	  			<div class="press-header">
		  			<span class="source">Cool Try Bro</span>
			    	<a class="title" href="http://cooltry.com.au/interview-warn-the-duke/">Interview: Warn The Duke</a>
		    	</div>
					<div>Stream the video for Warn The Duke’s latest single ‘Harry O’Donnell’ below. The track is from their upcoming album ‘Ghost Be Gone’ which will be released in October. Who are you and what are you doing here? (what is your name, what is the band and what is your role in the band?)...<a class="read-more" href="http://cooltry.com.au/interview-warn-the-duke/">Read more</a></div>
				</li>
				<li>
	  			<div class="press-header">
		  			<span class="source">Let's Chat! (The Misfits Network)</span>
			    	<a class="title" href="https://soundcloud.com/the-misfits-network/dan-mccool-of-warn-the-duke">Lets Chat! with Revill and Friends Ep 88-Dan McCool of Warn The Duke</a>
		    	</div>
					<div>Dan McCool is the lead singer and guitarist of Warn The Duke. Dan chats about his time playing with River City Rebels, growing up in the late 90’s Boston punk/ska scene, being signed to Victory Records, how much has changed since the early 00’s in music, Warn The Dukes formation, influences and much more...<a class="read-more" href="https://soundcloud.com/the-misfits-network/dan-mccool-of-warn-the-duke">Read more</a></div>
				</li>
				<li>
	  			<div class="press-header">
		  			<span class="source">Innocent Words</span>
			    	<a class="title" href="http://innocentwords.com/warn-the-duke-consider-yourself-warned/">Warn the Duke: Consider Yourself Warned (interview)</a>
		    	</div>
					<div>The collective resumés of the Brooklyn-based four-piece, Warn the Duke includes stints in River City Rebels, Big D and The Kids Table, but just a couple of tracks into the band’s latest record and it’s clear they are channeling more classic punk bands like The Clash and The Replacements...<a class="read-more" href="http://innocentwords.com/warn-the-duke-consider-yourself-warned/">Read more</a></div>
				</li>
		</ul>
  </div><!-- content -->
</div><!-- wrapper -->

<%=  partial "footer" %>
