---
title: Warn The Duke - Bio
---

<%=  partial "header" %>

<div class="wrapper">
  <div class="copy">

    <p>The lineup consists of New England punk rock veterans who transplanted themselves into the Big Apple: former River City Rebels lead vocalist Dan McCool on vocals and guitar, and Derek Davis of Big D and The Kids Table/Toasters on drums. Filling out the rhythm section is indie rock bassist Sara Press (Shorebirds) and cranking out explosive lead guitar solos is Brooklyn composer George Miata.</p>

    <p>Having played several NYC shows and festivals (including Northside, Gigawatts) over the last year and a half, WTD are set to release their debut LP "Ghost Be Gone" Oct 16 (recorded, mixed and mastered by Jay Maas of Defeater). Leading to the release, people are taking notice. In July 2015, WTD was the Deli Magazine "NYC Artist of the Month." Punkanormal Activity calls the debut record "a masterful product...relentless and original." The Ruckus says that WTD "take cues from bands like The Replacements and Kid Dynamite to create a melodic, riff-heavy, sound, that has always seemed destined to produce anthems...with a healthy dose of whiskey soaked vocals to scream along with, Warn The Duke are off to a good start with this one." The Deli Magazine calls WTD "a raucous, pop-punk ride."  And Gigawatts Magazine says: "Warn the Duke’s sound is similar to that of early Social Distortion, Rancid, Bad Religion...what bands like Chumped and Jeff Rosenstock are doing for Pop Punk/Emo right now, Warn the Duke is doing for that late 80s/90s alt/punk sound."</p>

    <p>With some solid press, a debut album that has something to prove to even the most jaded punk rock fan, and a ferocious live show, Warn The Duke is set to take center stage in what is increasingly looking like a punk rock revival of the 2010s.</p>
  </div>
</div><!-- wrapper -->

<%=  partial "footer" %>
